<%- include('navebar'); -%>
<section id="Home1"> 
    <div class="row">
      <div class="name1 col-lg-6">
          <div class="cc1">
            <h1>I'm Web Developer</h1>
          
          <h1>Omidullah Mohammadi</h1>
          <p>I'm a front end and backend web developer based in Nangarhar,Afghanistan.
            </p>
          </div>
      </div>
      <div class="col-lg-6">
        <img class="myimg1" src="/image/omid.jpg" alt="">
      </div>
  </section> 
  <div class="fd">
  <div class="abd">
      <h3>About Me</h3>
      <P>
        Hello, I am Omidullah Mohammadi a freelance Front end and Backend Desktop and web Developer with three years of Commercial experience creating successful websites and desktop apps. I granteed with a bachelor of Computer Science (BCS) from Khurasan University in Jalalabad,Afghanistan.
      </P>
  </div>
  <div class="abd">
    
      <p>
        I specialize in website design and development, with expertise in Node js, HTML, CSS, JavaScript, PHP, and other web development tools. I am also skilled in object-oriented design, teaching, data analysis and reporting, and other technical activities. I have a passion for web programming and I am always eager to learn new technologies and techniques.
       
      </p>
  </div>
  <div class="abd">
      <p>
        As a freelance web developer based in Nangarhar, Afghanistan, I am dedicated to delivering high-quality work that meets my client’s needs and exceeds their expectations. I take pride in my ability to design and develop websites that are not only visually appealing but also functional and user-friendly.
      </p>
  </div>
  <div class="abd">
      <p>
        I am always available to discuss your project and see how I can help you achieve your goals. You can reach me via WhatsApp at +93 782 325 495. I look forward to hearing from you and helping you bring your Desktop app Or web development projects to life.
      </p>
  </div>
</div>
  <%- include('footer'); -%>